*{
    padding: 0%;
    margin: 0%;
}
.flag{
    background-color: #CE1126;
    height: 600px;
    width: 900px;
    position: relative;
}
p{
    text-align: center;
    color: white;
    font-size: 5rem; 
}
.flag>div{
    background-color:#002868;
    width: 100%;
    height: 300px;
    position: absolute;
    top :150px;
}
.flag div div {
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 350px;
}
.flag div div p{
    color: black;
    position: absolute;
    
}

